.root{
}

.title {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.searchBar {
    border-radius: 5px;
    width: 90%;
    margin: 20px;
}

.searchBar > div {
    width: 90%;
}

.cardImage {
    height: 500px;
    width: 100%;
    background-size: cover;
    background-position: center;
}

.cardTitle {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.cardImage:hover .cardTitle {
    opacity: 1;
}