.root {
    display: flex;
    padding: 20px;
}

.image {
    min-height: 500px;
    height: auto;
    min-width: 300px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

.info{
    padding-left: 20px;
}

.overview {
    margin-top: 20px;
}